# --- Project-specific ---
/Docs/
/hra-env/

# --- Python ---
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
.venv/
.venv*/
venv/
.env
.env.*
*.sqlite3
.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
coverage.xml
.coverage
htmlcov/

# --- Editors / OS ---
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# Secrets
*.env
.env
.env.*
key.env
!*.env.example

# Generated
exports/*
!exports/.gitkeep
logs/*
!logs/.gitkeep


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# custom roles
data/role_knowledge_custom/*.json
